<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />        
        <script src="https://kit.fontawesome.com/a215289790.js" crossorigin="anonymous"></script>
        <title>Mi primer HTML</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css" >

    </head>
    <body>
        <header>
            <div class="head-div-1">
                <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                <input class="search-box" placeholder="Buscar productos, marcas"></input>
                <div class="mag-glass">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>              
                <div class="div-compraencuotas">
                    <i class="fa-solid fa-hand-holding-dollar"></i><span>Compra en cuotas y sin tarjeta de credito</span>
                </div>
            </div>
            <nav>
                <ul class="ul1">
                    <li><a href="#h3_ofertas">Ofertas</a></li>
                    <li><a>Tiendas Oficiales</a></li>
                    <li><a>Vender</a></li>
                    <li><a>Ayuda</a></li>
                </ul>
                <ul class="ul2">
                    <li><a href="register">Crea tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
                    <li><a href="login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a>Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                        <!--
                            <i class="fa-regular fa-id-card">
                            <i class="fa-solid fa-right-to-bracket">
                            <i class="fa-solid fa-basket-shopping">
                                -->
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
        <section class="regular-banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas" >
        </section>
        <main>
            <h3 class="titulares-header">Basado en tu última visita</h3>
            <section class="div-productos">
                <div class="div-productos-2">
                    <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" >
                    <div class="textos">
                        <div class="ico-camion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="div-2textos">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <div class="div-TextoDesc">
                            <p class="descripciones">Cafetera Moulinex</p>
                        </div>
                    </div>
                </div>
                <div class="div-productos-2">
                    <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" >
                    <div class="textos">
                        <div class="ico-camion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="div-2textos">
                            <p class="precios">$230.00</p>
                            <p class="descuentos">20% off</p>
                        </div>
                        <div class="div-TextoDesc">
                            <p class="descripciones">MacBook Pro 2019</p>
                        </div>
                    </div>
                </div>
                <div class="div-productos-2">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" >
                    <div class="textos">
                        <div class="ico-camion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="div-2textos">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                        </div>
                        <div class="div-TextoDesc">
                            <p class="descripciones">Teléfono móvil Samsung Galaxy S10</p>
                        </div>
                    </div>
                </div>
                <div class="div-productos-2">
                    <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" >
                    <div class="textos">
                        <div class="ico-camion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="div-2textos">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% off</p>
                        </div>
                        <div class="div-TextoDesc">
                            <p class="descripciones">SmartTv Samsung 43"</p>
                        </div>
                    </div>
                </div>
            </section>
            <h3 class="titulares-header" id="h3_ofertas">Ofertas</h3>
            <section class="div-productos">
                <div class="div-productos-2">
                    <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" >
                    <div class="textos">
                        <div class="ico-camion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="div-2textos">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <div class="div-TextoDesc">
                            <p class="descripciones">Cafetera Moulinex</p>
                        </div>
                    </div>
                </div>
                <div class="div-productos-2">
                    <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" >
                    <div class="textos">
                        <div class="ico-camion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="div-2textos">
                            <p class="precios">$230.00</p>
                            <p class="descuentos">20% off</p>
                        </div>
                        <div class="div-TextoDesc">
                            <p class="descripciones">MacBook Pro 2019</p>
                        </div>
                    </div>
                </div>
                <div class="div-productos-2">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" >
                    <div class="textos">
                        <div class="ico-camion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="div-2textos">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                        </div>
                        <div class="div-TextoDesc">
                            <p class="descripciones">Teléfono móvil Samsung Galaxy S10</p>
                        </div>
                    </div>
                </div>
                <div class="div-productos-2">
                    <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" >
                    <div class="textos">
                        <div class="ico-camion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="div-2textos">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% off</p>
                        </div>
                        <div class="div-TextoDesc">
                            <p class="descripciones">SmartTv Samsung 43"</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <ul>
                <li>
                    <i class="fa-solid fa-credit-card"></i><br>
                    <span class="span-bold"><strong>Paga con tarjeta o en efectivo</strong></span><br>
                    <span>Con Mercado Liebre Cash tenes cuotas sin</span>
                    <span>interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</span>
                </li>
                <br>
                <li>
                    <i class="fa-solid fa-gift"></i><br>
                    <span class="span-bold"><strong>Envio gratis desde $2,500</strong></span><br>
                    <span>Solo por estar registrado en Mercado Liebre tenes envios gratis en miles </span>
                    <span>de productos. Es un beneficio de Mercado Puntos.</span>
                </li> 
                <br>
                <li>
                    <i class="fa-solid fa-user-shield"></i><br>
                    <span class="span-bold"><strong>Seguridad de principio a fin</strong></span><br>
                    <span>¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer</span>
                    <span>porque estas siempre protegido</span>
                </li>
                <br>   
                                         
            </ul>
            <p style="text-align:left">Copyright &copy; 1999-2020 Mercado Liebre S.R.L.</p>  
        </footer>
    </body>
</html>