<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />        
        <script src="https://kit.fontawesome.com/a215289790.js" crossorigin="anonymous"></script>
        <title>Registrarse</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
    <body>
        <header>
            <div class="head-div-1">
                <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                <input class="search-box" placeholder="Buscar productos, marcas"></input>
                <div class="mag-glass">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>              
                <div class="div-compraencuotas">
                    <i class="fa-solid fa-hand-holding-dollar"></i><span>Compra en cuotas y sin tarjeta de credito</span>
                </div>
            </div>
            <nav>
                <ul class="ul1">
                    <li><a href="#h3_ofertas">Ofertas</a></li>
                    <li><a>Tiendas Oficiales</a></li>
                    <li><a>Vender</a></li>
                    <li><a>Ayuda</a></li>
                </ul>
                <ul class="ul2">
                    <li><a href="register">Crea tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
                    <li><a href="login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a>Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                        <!--
                            <i class="fa-regular fa-id-card">
                            <i class="fa-solid fa-right-to-bracket">
                            <i class="fa-solid fa-basket-shopping">
                                -->
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
        <main>
            <form action="/" method="GET" class="form-reg-user">
                <input type="text" name="nombre" placeholder="Nombre y apellido" class="regular-text">
                <br>
                <input type="text" name="usuario" class="regular-text" placeholder="Nombre de usuario">
                <br>
                <input type="email" name="usuario" class="regular-text" placeholder="E-mail">
                <br>                
                <h3>Fecha de nacimiento</h3>
                <input type="date" name="nacimiento" class="regular-text">
                <br>
                <input type="text" name="domicilio" class="regular-text" placeholder="domicilio">
                <br>
                <h3>Perfil de usuario</h3>
                <div class="div-radio">
                    <div><input type="radio" name="perfil" value="Vender">Vender</div>
                    <div><input type="radio" name="perfil" value="Comprar">Comprar</div>
                </div>
                <br>
                <h3>Intereses</h3>
                <div class="div-check">
                    <div><input type="checkbox" name="cat" value="1">Electro</div>
                    <div><input type="checkbox" name="cat" value="2">Moda</div>
                    <div><input type="checkbox" name="cat" value="3">Hogar</div>
                    <div><input type="checkbox" name="cat" value="4">Jugueteria</div>
                    <div><input type="checkbox" name="cat" value="5">Vida sana</div>
                </div>
                <h3>Foto del usuario</h3>
                <input type="file" name="foto" class="file"><br>
                <label class="regular-label">Contrasena</label><br>
                <input type="password" name="pass1" class="regular-text">
                <label class="regular-label">Confirmar Contrasena</label><br>
                <input type="password" name="pass2" class="regular-text"><br>
                <button type="submit">Enviar</button><br>
                <button type="reset">Borrar</button><br>
            </form>
        </main>
        <footer>
        
        </footer>
    </body>
</html>