* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #E2E7E6;
    box-sizing: border-box;
}

body {
    margin:10px;
    width: 100%;
}

main{
    margin: 0 auto;
}



nav {
    display: none;
    padding-right: 10px;
}

header {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Roboto', sans-serif;
    background-color: #eac926;
    width: 100%;
    font-size: 16px;
    padding-bottom: 10px;
}

.head-div-1 {
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}

header img.logo {
    width: 40%;
    display: inline;
    box-sizing: border-box;
    
}

h3 {
    margin: 10px;
}

header input.search-box {
    width: 40%;
    margin-top: 0px;
    display: inline;   
    box-sizing: border-box; 
    border: 0px solid black;  
    border-radius: 5px; 
}

div.mag-glass {
    background-color: white; 
    /*
    margin-left:0px; 
    margin-bottom: 20px; 
    margin-top:3px; 
    
    */
    border-radius: 5px;
    width: 8%;
    text-align: center;
    display:inline;
}

header div div.div-compraencuotas {
    margin:auto;
    text-align:center;
}

p {
    font-size: 1rem;
}
span {
    font-size: 1rem;
}

li {
    font-size: 1rem;
}

footer ul {
    display: flex;
    flex-direction:column;
    list-style-type:none;
    text-align: center;
    padding-inline-start: 0px;
}

footer i {
    font-size: 2em;
    color: blue;
    margin-bottom: 10px;
}

footer li {
    margin:20px 10px;
}

footer span.span-bold {
    font-size: 1.5em;
    color : #474B4A;
}



div.burger-menu {
    color:white;
    background-color: blue; 
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
    border-radius: 5px;
    width: 20vw;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
}

.titulares-header {
    font-size: 2rem;
}

.precios {
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    /*width: 30%;*/
}

.descuentos {
    font-size: 1.33rem;
    color:green;
    margin-top: 0px;
    margin-bottom: 0px;
    /*width: 70%;*/
}

.descripciones {
    font-size: 1.33rem;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0px;
    color : #474B4A;
    display:none;
    min-height: 20px;
}


.regular-banner {
    width: 100%;
}

.regular-banner img{
    width:100%;
}

section.div-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.div-productos div.div-productos-2 {
    background: white;
    margin-bottom: 10px;
    
}

.div-productos img {
    width:95%;
}

.div-2textos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.textos {
    position: relative;
    min-height: 100px;
}

.textos2 {
    border-top: solid 1px #ebebeb;
    
}

.div-productos div div.textos {
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

.div-productos-2:hover .descripciones {
    display:block;
}

.div-productos-2:hover {
    box-shadow: 0px 0px 10px rgb(100,100,100);
}

.ico-camion {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    /*margin-left: 70vw;*/
    position: absolute;
    right: 20px;
    top: -15px;
    
}

.ico-camion:hover {
    transform: rotate(-0.25turn);
}

.form-reg-user {
    padding:10px;
}

.form-reg-user .regular-label,.regular-text {
    margin:10px;
    border-radius: 5px;
    width: 90%;
    padding: 10px 15px;
    border: none;
}

.form-reg-user input.file {
    margin: 20px;
}

.form-reg-user#FechaNac {
    font-weight:bold;
}

.form-reg-user button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    /*margin-left: 5vw;*/
    border-radius: 5px;
    border:none;
    background-color: blue;
    color: white;
}

.div-radio {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.div-check {
    display:flex;
    flex-direction: column;
    margin: 20px;
}

.div-check div {
    padding:10px;
}

.div-check input {
    display: inline;
}

.but-submit:hover {
    background-color: #0022AA;
}

footer i:hover {
    color:yellow;
}

@media (min-width:361px){
    /*Tablets*/
    header img.logo {
        width: 25%;   
    }    
    header input.search-box {
        width: 20%;
    }
    div.mag-glass {
        width: 5%;
    }    

    header div div.div-compraencuotas {
        width: 40%;
    }

    div.div-productos-2 {
        width:40%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        /*margin: left 0px;        */
    }

    nav ul li {
        padding: 5px;
    }

    nav ul.ul1 {
        display: flex;
        justify-content: flex-start;
        list-style-type:none;       
    }

    nav ul.ul2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type:none; 
    }    

    .burger-menu {
        display: none;
    }
}

@media (min-width:769px){
    /*Laptop*/
    
    div.div-productos-2 {
        width:20%;
    } 

    nav {
        display: flex;
        justify-content: space-between;
        /*margin: left 0px;        */
    }

    nav ul li {
        padding: 5px;
    }

    nav ul.ul1 {
        display: flex;
        justify-content: flex-start;
        list-style-type:none;       
    }

    nav ul.ul2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type:none; 
    }   

    .burger-menu {
        display: none;
    }    

    footer ul {
        flex-direction:row;    
    }


}